.App {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 80px;
  min-height: 100vh;
}
.Pokemon-Name {
  font-weight: 800;
}
.Sprite {
  width: 200px;
  height: 200px;
}
.Button {
  height: 75px;
  width: 150px;
  font-size: 25px;
}